@import '_variables';

@mixin List {
    .List {        
        >ul {
            list-style: none;
            margin: 0;
            padding: 0;
            >li {
                border-top: 1px solid #eee;
                &:first-child {
                    border-top: 0;
                }
            }
        }       
    }
}

@media #{$query-xs} {
    @include List();
}