@import 'variables';

@mixin Main-xs() {
    .Main {
        position: relative;
        height: 100%;
        >._header {
            box-sizing: border-box;
            position: relative;
        }
        >._content {
            box-sizing: border-box;
            position: relative;
        }
        >._footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            color: #aaa;
            font-size: 13px;
            line-height: 40px;
            text-align: center;
            background: #fff;
        }
    }
}

@mixin Main-lg() {
    .Main {                
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 248px;
            background: $color-primary;
        }
        >._header {
            width: 960px;
            margin: auto;
        }
        >._content {            
            width: 960px;
            min-height: 600px;
            margin: auto;
            background: #fff;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        }
    }
}

@mixin MainHeaderModifier($name, $header-height) {
    .Main--#{$name} {
        >._header {
            height: $header-height; 
        }
    }
}

@media #{$query-xs} {
    @include Main-xs();
    @include MainHeaderModifier('headerSmall', 88px);
}

@media #{$query-lg} {
    @include Main-lg();
}
