@import '_variables';

@mixin Media {
    .Media {   
        display: flex;
        position: relative;           
        >._obj {
            width: 60px;
            padding: 8px 8px 8px 0; 
        }
        >._body {
            padding: 8px 0;
            >._title {
                display: block;  
                font-size: 15px;
                line-height: 24px;
                font-weight: normal;
            }
            >._detail {
                display: block;
                font-weight: 400;
                font-size: 13px;
                opacity: 0.54;
            }
        }           
    }
}

@mixin Media-check {
    .Media-check {           
        >._check {
            flex-basis: 48px;
            position: relative;
            >input {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 16px;
                height: 16px;
                margin-top: -8px;
                margin-left: -8px;
            }
        }
    }
}

@media #{$query-xs} {
    @include Media();
    @include Media-check();
}