@import '_variables';

@mixin Media {
    .Media {   
        display: flex;
        position: relative;           
        >._obj {
            width: 60px;
            padding: 8px 8px 8px 0; 
        }
        >._body {
            padding: 8px 0;
            >._title {
                display: block;  
                font-size: 15px;
                line-height: 24px;
                font-weight: normal;
            }
            >._detail {
                display: block;
                font-weight: 400;
                font-size: 13px;
                opacity: 0.54;
            }
        }           
    }
}

@mixin Media-check {
    .Media-check {    
        cursor: pointer;
        &:hover {
            background: #eee;
        }       
        >._check {
            flex-basis: 56px;
            position: relative;
            >i {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 24px;
                height: 24px;
                margin-top: -16px;
                margin-left: -12px;
                color: $color-secondary;
                background: #fff;
                border-radius: 2px;
                border: 1px solid #ddd;
            }
        }
    }
}

@media #{$query-xs} {
    @include Media();
    @include Media-check();
}